body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input,
button {
  outline: none;
}

button {
  background-color: $main_color;
  color: white;
  border: 0;
  border-radius: 10px;

  &:focus {
    border: 0;
    outline: none;
  }
}

.action-btns {
  display: none;
}

.edit,
.delete {
  border-radius: 5px;
  padding: 3px 20px;
}

.edit {
  background-color: rgb(158, 151, 151);
}

.delete {
  background-color: rgb(216, 64, 64);
}

.item {
  box-shadow: 0 0 10px rgb(230, 230, 230);

  &:hover {
    .action-btns {
      display: flex;
    }
  }
}

.task-list {
  border: 1px solid gray;
}

.task-item {
  border: 1px solid gray;
}
